Options +FollowSymlinks
RewriteEngine On
RewriteBase /app/plugin/appointment/page/
RewriteRule ^agendas/$  agendas.php [L]
RewriteRule ^agendaManager/([0-9]+)/?$  updateAgendaManager.php?id=$1 [L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /app/lib/assets/404.php

ErrorDocument 403 /app/lib/assets/404.php
ErrorDocument 404 /app/lib/assets/404.php