Options +FollowSymlinks
RewriteEngine On
RewriteBase /app/plugin/cms/page/
RewriteRule ^allPages/$  allPages.php [L]
RewriteRule ^addPage/$  addPage.php [L]
RewriteRule ^updateMenu/$  updateMenu.php [L]
RewriteRule ^archives/$  archives.php [L]
RewriteRule ^pageContent/([0-9]+)/$  updatePageContent.php?id=$1 [L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /app/lib/assets/404.php

ErrorDocument 403 /app/lib/assets/404.php
ErrorDocument 404 /app/lib/assets/404.php