Options +FollowSymlinks
RewriteEngine On
RewriteBase /app/plugin/people/page/
RewriteRule ^addPerson/$  addPerson.php [L]
RewriteRule ^allPeople/$  allPeople.php [L]
RewriteRule ^peopleArchives/$  archives.php [L]
RewriteRule ^update/([0-9]+)/$   updatePerson.php?id=$1 [L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /app/lib/assets/404.php

ErrorDocument 403 /app/lib/assets/404.php
ErrorDocument 404 /app/lib/assets/404.php